@keyframes appear{
    from{
        /* opacity: 0; */
        transform: translateX(-100%);
    }
    to{
        /* opacity: 1; */
        transform: translateX(0%);
    }
}

.Events-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 7px;
    align-items: stretch;
    /* align-content: center; */
    
}

.events-card{
    /* display: flex;
    flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* animation:appear 1s; */
     /* animation-timeline: view(); */
    /*animation-range: entry 0% cover 40%; */
    align-items: stretch;
    transition: transform 0.2 ease-in-out;
}
.events-card:hover{
    transform: scale(1.05);
}
.header{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p{
    margin-left: 3%;
}
.header div{
    margin-right: 3%;
}
.top{
    background-image: url('https://img.freepik.com/premium-vector/blue-black-background-with-blue-black-pattern_720143-4483.jpg?w=360');
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
.top-fields{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5%; 
}
.top input{
    z-index: 1;
    width: 45%;
    height: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 5px;
    font-size: 12px;
}
.explore-event-button{
    background-color: #0FA4AF;
    border-radius: 100px;
    padding: 3px;
    font-size: 12px;
}
.home{
    background-color: #180235;
}
.top img{
    height: 17px;
    width: 12px;
    border-radius: 100px;
}
.top button{
    border-radius: 100px;
    border: none;
}
.dropdown{
    border: none;
    padding: 3px;
    font-size: 12px;
    outline: none;
    
}
.searching-fields{
    display: flex;
    flex-direction: row;
}
.top-fields .text{
    margin-left: -65px;
    font-size: 13px;
    color: #0FA4AF;
}
.top-fields .text1{
    margin-left: -35px;
    font-size: 13px;
    color: #0FA4AF;
}
.current-loc{
    color: aliceblue;
    margin: 5px;
}
.header p{
    font-family:cursive;
    color: #0FA4AF;
}